@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

a {
    border: 0 none;
    outline: 0;
    text-decoration: none;
}

input,
button {
    border: 0 none;
    outline: 0 none;
}

img,
.detail-labels,
.detail-product {
    width: 100%;
}

.detail,
.detail-labels,
.detail-product,
.product-image,
.product-details {
    float: left;
}

.hide {
    display: none;
}

.order-container {
    clear: both;
    margin: 0 auto 215px;
    overflow: hidden;
    width: 75%;
    padding: 5% 0;
    /*height: 100vh;*/
}

.order-container .greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.order-container .greeting h3 {
    font-size: 25px;
    letter-spacing: 0.5px;
    color: #5f615e;
}

.order-container .greeting p {
    font-size: 20px;
    color: #5f615e;
    padding-top: 20px;
}

.detail,
aside {
    padding: 0 1rem;
}

.detail {
    width: 65%;
}

.detail-labels {
    border-top: 1px solid rgb(228, 228, 228);
    border-bottom: 1px solid rgb(228, 228, 228);
}

.detail-labels ul {
    list-style: none;
    display: flex;
}

li {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
    font-size: 16px;
    color: #5f615e;
    text-align: center;
}

.detail-product {
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 1rem 0;
    position: relative;
    display: flex;

}

.item {
    width: 49%;
}

.price,
.quantity,
.subtotal {
    width: 17%;
    text-align: center;
}

.remove {
    position: absolute;
    bottom: 1.2rem;
    right: 0;
}

.remove input {
    color: #cad3c6;
    background-color: #284B37;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 3px;
}

.product-image {
    width: 30%;
}

.product-details {
    width: 60%;
}

.product-details {
    padding: 0 20px;
    color: #9e9e9e;
}

.product-details p {
    font-size: 14px;
    color: #9e9e9e;
}

.product-details a {
    color: #363636;
}

.product-details a:visited {
    color: #363636;
}

.product-details h1 {
    text-transform: capitalize;
    font-size: 20px;
}

.detail-product .price,
.detail-product .quantity,
.detail-product .subtotal {
    font-size: 16px;
    color: #363636;
} 

.detail-product .quantity {
    display: flex;
    justify-content: center;
}

.quantity-field {
    background-color: #ccc;
    border-radius: 3px;
    font-size: 0.625rem;
    padding: 3px 5px;
    width: 3.5rem;
}

.summary {
    background-color: #284B37;
    padding: 50px;
    width: 500px;
    border-radius: 3px;
    color: #f6faf5;
    position: relative;
    float: right;
    width: 35%;

    /*position: fixed;*/
    /*margin-top: 15px;*/
}

.summary-total-items {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

.summary-subtotal {
    border-top: 1px solid rgba(219, 219, 219, 0.452);
    border-bottom: 1px solid rgba(219, 219, 219, 0.452);
    margin: 20px 0;
    padding: 20px 0;
    overflow: hidden;
    font-size: 16px;
    font-weight: 300;
    position: relative;

}

.sub-value {
    display: inline-block;
    position: absolute;
    right: 0;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 20px;
}

.all-order {
    display: block;
}

.all-order-btn {
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 0.625rem 0;
    width: 100%;
    cursor: pointer;
    color: #cad3c6;
    background-color: rgba(20, 20, 20, .4);
    transition: background-color 0.3s ease-in-out;
}

.all-order-btn:hover {
    background-color: rgba(20, 20, 20, .6);
}

/* Quantity input  */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: flex;
}

.number-input input[type=button] {
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    position: relative;
    color: #000;
    font-size: 16px;
}

.number-input .quantity-field {
    font-family: sans-serif;
    max-width: 4rem;
    padding: .5rem;
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: rgb(236, 236, 236);
}

/* Empty cart  */
.empty-cart {
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.empty-cart p {
    margin: 0;
    padding: 0;
    color: #284B37;
    font-size: 25px;
    font-weight: 400;
}

.empty-cart img {
    width: 30%;
    height: auto;
    margin-bottom: 30px;
}

.empty-cart a {
    display: inline-block;
    border: none;
    background: #284B37;
    font-size: 18px;
    text-decoration: none;
    color: #eaeee9;
    margin-top: 30px;
    padding: 15px 80px;
    cursor: pointer;
    font-weight: 400;
}

.empty-cart a:hover {
    background: #203d2c;
}

.detail .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.detail .update-all {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #5f615e;
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.detail .update-all:hover {
    color: #cad3c6;
    background-color: #284B37;
}


footer {
    padding: 30px;
    font-size: 1rem;
    height: 70px;
    background-color: #284B37;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright {
    color: #cad3c6;
}
